
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px black;
    background: linear-gradient(135deg, rgb(6, 89, 34), rgb(5, 90, 11));
    overflow: hidden;
  }
  
  h1 {
    font-size: 3rem;
    margin: 10px;
  }
  
  #message {
    font-size: 1.2rem;
    margin: 10px;
  }
  
  #level {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
 
  #bin {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    transition: transform 0.2s ease;
  }
  

  #bin.active {
    transform: scale(1.3);
  }
  

  .trash {
    position: absolute;
    font-size: 2rem;
    cursor: grab;
    user-select: none;
    transition: transform 0.2s ease, left 0.3s, top 0.3s;
  }
  
  
  .cat-paw {
    position: absolute;
    font-size: 3rem;
    bottom: 150px;
    right: 200px;
    animation: shake 0.6s ease-in-out;
  }
  
  @keyframes shake {
    0% { transform: rotate(0); }
    25% { transform: rotate(15deg); }
    50% { transform: rotate(-15deg); }
    100% { transform: rotate(0); }
  }